*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/build
*.iml
*.iws
*.ipr
.idea/
.gradle/
local.properties

.bundle
.DS_Store
db/*.sqlite3
log/*.log
tmp/

*/build/

*~
*.swp